<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <script src="https://kit.fontawesome.com/1c1347edbc.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="animated" style="z-index: -1">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
    </div>

    {% include "./partials/navbar.html" %}

    <div class="z-10 w-full flex flex-col mx-auto p-6 gap-4">
      {{ content | safe }}
    </div>

    {% include "./partials/footer.html" %}

    <script src="/static/js/alpine.js"></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
  </body>
</html>
